*{
    background-color:aliceblue ;

}

.main{
    display: flex; 
    justify-content: space-between;
       align-items: center;
    list-style: none;
}

.nav-list{
      display: flex;
    text-decoration: none;
       align-items: center;
    list-style: none;
    gap: 40px;

}
.span{
    color: chocolate;
}
.banner-title{
    font-size: 65px;
    font: noto serif;
}
.banner{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner-container{
    text-align: left;
}
.banner-subtitle{
    color: rgba(0, 0, 0, 0.5);
font-size: 22px;

}
.card-title{
font-size: 50px;
text-align: center;
color:rgb(233, 90, 8)
rgb(0, 0, 0) ;
}
.card-subtitle{
    font-size: 22px;
    text-align: center;
color:black;

}
.card-container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 110px;
     margin-top: 70px; 
     margin-bottom: 200px;
}
.flower{
    border:2px dotted rgb(179, 224, 245);
    /* position: static; */
    width: 270px;
    height: 320px;
    margin: 30px;
}
.btn{
    background-color: chocolate;
    color: aliceblue;
    /* position: static; */
    width: 270px;
    height: 50px;
}
.alaign{
    text-align: center;
}
    .trust-badge{
    align-items: center;
    justify-content: space-between;
}
.badge{
    align-items: center;
    width: 286px;
    height: 286px;
}

.sidebar{
   margin-top:0px;
   margin-bottom: 100px;
   display: flex;
    justify-content:space-between;
    text-align: center;
}
.side-title{
    font-size:50px;
    text-align: left;

}  
.side-text{
    font-size: 28px;
    text-align: left;
}
footer{
      background-image: url(assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:auto;
}